@import '../../style/variables.scss';
@import '../../style/tools/_flex.scss';

.nav {
  height: $font * 2.75;
  @extend %flex-row;
  @include justify-content(space-around);
  li {
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 4%;
    list-style: none;
  }
}